<div class="__background" id="inicio">
  <div class="container">
    <div class="row __top">
      <div class="col-6 __left mt-5">
        <div class="row d-flex justify-content-center align-items-center">
          <div class="col-sm-8 title">
            <p class="top">
              PARECE <span class="imposible">IMPOSIBLE</span> HASTA QUE SE
              <span class="important">HACE</span>
            </p>
          </div>
        </div>
      </div>
      <div class="offset-md-2 col-sm-4 __right mt-5">
        <img src="assets\images\gym-couple.png" alt="" />
      </div>
    </div>
  </div>
</div>
