<div class="col-12 __titulo " id="transformaciones"><p>Transformaciones</p></div>
<div class="__background ">
  <div class="container">
    <div class="carousel" data-flickity='{ "autoPlay": true,"wrapAround": true, "setGallerySize": false  }'>
      <!--  -->
      <!--  -->
      <div class="col-12 row __before_after item1">
        <div class="col-md-6">
          <img
            class="__imagen"
            src="assets\images\afterandbefore.jpeg"
            alt=""
            width="100%"
          />
        </div>
        <div class="col-md-6 __carousel_content row my-5">
          <div class="col-md-12">
            <p>Nombre: <strong>Marcos Scott</strong></p>
          </div>
          <div class="col-md-12">
            <p>Edad: <strong>35 años</strong></p>
          </div>
          <div class="col-md-12">
            <p>Bajó: <strong>9 kilos</strong></p>
          </div>
          <div class="col-md-12">
            <p>Duración: <strong>6 meses</strong></p>
          </div>
        </div>
      </div>
      <!--  -->
      <!--  -->
      <div class="col-12 row __before_after item2">
        <div class="col-md-6">
          <img
            class="__imagen img-fluid"
            src="assets\images\afterandbefore2.jpeg"
            alt=""
            width="100%"
          />
        </div>
        <div class="col-md-6 __carousel_content row my-5">
          <div class="col-md-12">
            <p>Nombre: <strong>Juan Esteroides</strong></p>
          </div>
          <div class="col-md-12">
            <p>Edad: <strong>27 años</strong></p>
          </div>
          <div class="col-md-12">
            <p>Subió: <strong>12 kilos</strong></p>
          </div>
          <div class="col-md-12">
            <p>Duración: <strong>6 meses</strong></p>
          </div>
        </div>
      </div>
            <!--  -->
      <!--  -->
      <div class="col-12 row __before_after item3">
        <div class="col-md-6">
          <img
            class="__imagen img-fluid"
            src="assets\images\afterandbefore3.jpeg"
            alt=""
            width="100%"
          />
        </div>
        <div class="col-md-6 __carousel_content row my-5">
          <div class="col-md-12">
            <p>Nombre: <strong>Chong ChinChuan</strong></p>
          </div>
          <div class="col-md-12">
            <p>Edad: <strong>29 años</strong></p>
          </div>
          <div class="col-md-12">
            <p>Bajó: <strong>8 kilos</strong></p>
          </div>
          <div class="col-md-12">
            <p>Duración: <strong>8 meses</strong></p>
          </div>
        </div>
      </div>
      <!--  -->
      <!--  -->

    </div>
  </div>
</div>
