<div class="__background " style="background-color: blue;opacity: .5;">
  <div class="container">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-8 my-5">
        <form action="">
          <div class="mt-2 mb-2">
            <input
              type="text"
              maxlength="25"
              class="form-control"
              formControlName="nombre"
              placeholder="Nombre: "
            />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
