<div class="__background" id="planes">
  <div class="container">
    <div class="__title" >
      <p>ELEGÍ TU <span style="color: #abd942">PLAN</span> DE ENTRENAMIENTO</p>
    </div>
    <div class="row __mid justify-content-around align-items-center">
      <div class="col-sm-5 col-md-5 my-2">
        <div class="p-3 __plan_top one row">
          <div class="col-12">
            <h3>Plan</h3>
            <p class="__plan_nombre one">MENSUAL</p>
          </div>
          <div class="col-8 __plan_precio one">$5000</div>
        </div>
        <div class="p-3 row __plan_botom one">
          <div class="col-md-8 mt-3 __text"><h5>Con este plan podras entrenar durante 1 mes seguido en nuestro gimnasio.</h5></div>
          <div class="col-lg-6 mt-3 __anotate one" >
            <a class="nav-link" href="#contactanos">Anotate Ya</a>
          </div>
        </div>
      </div>
      <!--  -->
      <!--  -->
      <!--  -->
      <div class="col-sm-5 col-md-5 my-2">
        <div class="p-3 __plan_top two row">
          <div class="col-12">
            <h3>Plan</h3>
            <p class="__plan_nombre two">TRIMESTRAL</p>
          </div>
          <div class="col-8 __plan_precio two">$13500</div>
        </div>
        <div class="p-3 row __plan_botom two">
          <div class="col-md-8 mt-3 __text"><h5>Con este plan podras entrenar durante 3 meses seguidos en nuestro gimnasio, gozando de un descuento.</h5></div>
          <div class="col-lg-6 mt-3 __anotate two" >
            <a class="nav-link" href="#contactanos">Anotate Ya</a>
          </div>
        </div>
    </div>
  </div>
</div>
