.nav-link,.navbar-brand{
  color: #abd942;
  font-family: 'SUBTITULO';
  cursor: pointer;
  transition: all 300ms;
}
.nav-link:hover{
  transition: all 300ms;
  color: #abd942;
  font-family: 'SUBTITULO';
  background-color: black;
  border-radius: 5px;
}
