<app-navbar></app-navbar>

<div class="__background_top">
  <div class="container">
    <div class="row __top">
      <div class="col-6 __left mt-5">
        <div class="row d-flex justify-content-center align-items-center">
          <div class="col-sm-8 title">
            <p class="top">PARECE <span class="imposible">IMPOSIBLE</span> HASTA QUE SE
              <span class="important">HACE</span>
            </p>
          </div>
          <!-- <div class="col-8">
            <p class="mid">O tu frase motivacional</p>
          </div>
          <div class="col-8">
            <p class="bot">O algo más...</p>
          </div> -->
        </div>
      </div>
      <div class="offset-md-2 col-sm-4 __right mt-5">
        <img src="assets\images\gym-couple.png" alt="" />
      </div>
    </div>
  </div>
</div>
<!--  -->
<div class="col-12 _top_separation">"La diferencia entre quién eres y quién quieres ser es aquello que haces."</div>
<!--  -->
<app-planes></app-planes>
<!--  -->
