<div class="__background p-5" id="nosotros">
  <div class="container">
    <div class="__title" >
      <p>ACERCA DE <span style="color: #abd942">NOSOTROS</span></p>
    </div>
    <div class="row __img_info">
      <div class="col-md-6">
        <img class="__imagen uno" src="assets\images\ourGym.jpeg" alt="" />
      </div>
      <div class="col-md-6">
        <div class="__texto titulo">
          <p>Contamos con <span style="color: #abd942">gym</span> propio</p>
        </div>
        <div class="__texto descripcion">
          <p>
            Con tu plan no importa si sos <strong>novato</strong> o si tenes
            experiencia, vas a poder acceder a clases y rutinas
            <strong>personalizadas</strong> en funcion de tus
            <strong>necesidades</strong>, dentro de nuestras intalaciones.
          </p>
        </div>
      </div>
    </div>
    <!--  -->
    <div class="row __img_info">
      <div class="col-md-6 order-md-2">
        <img class="__imagen dos" src="assets\images\nutricion.jpeg" alt="" />
      </div>
      <div class="col-md-6 order-md-1">
        <div class="__texto titulo">
          <p>
            Seguimiento y
            <span style="color: #abd942">nutrición</span> deportiva
          </p>
        </div>
        <div class="__texto descripcion">
          <p>
            El plan de entrenamiento incluye una asesoría y seguimiento<strong>
              personalizados</strong
            >
            sobre nutrición, para que puedas alcanzar tus
            <strong>objetivos</strong> sin limitaciones y de una manera
            <strong>fácil</strong> que se adapte a vos.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!--  -->

<!--  -->
