.__background{
  background-color: #fafafa;
}
.__background,
.__title,
.__img_info,
.__texto {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.__title {
  color: black;
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-family: "TITULO";
  font-size: 3rem;
}

.__imagen {
  margin-top: 1.5rem;
  position: relative;
  width: 75%;
  box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.7);
  border-radius: 10px;
}
.__texto.titulo {
  margin-top: 2rem;
  font-family: "SUBTITULO";
  font-size: 2rem;
}
.__texto.descripcion {
  font-family: "CONTENIDO";
  font-size: 1.3rem;
  line-height: 2.3rem;
}
.__mid_separation {
  content: "";
  height: 6rem;
  background: linear-gradient(0deg, #2c3834, #1d2525, #182021);
  width: 100%;
}

/*  */

@media screen and (max-width: 425px) {
  .__title {
    margin-bottom: -0.5rem;
    font-size: 1.5rem;
  }
  .__texto.titulo {
    font-size: 1.3rem;
  }
  .__texto.descripcion {
    font-size: 1.1rem;
    line-height: 2.1rem;
  }
  .__imagen{
    width: 100%;

  }
}
@media screen and (min-width: 425px) and (max-width: 575px) {
  .__title {
    margin-bottom: -0.5rem;
    font-size: 1.7rem;
  }
  .__texto.titulo {
    font-size: 1.5rem;
  }
  .__texto.descripcion {
    font-size: 1.2rem;
    line-height: 2.2rem;
  }
  .__imagen{
    width: 100%;

  }
}
@media screen and (min-width: 575px) and (max-width: 1000px) {
  .__title {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  .__texto.titulo {
    font-size: 1.7rem;
  }
  .__texto.descripcion {
    font-size: 1.3rem;
    line-height: 2.3rem;
  }
  .__imagen{
    width: 100%;

  }
}

@media screen and (min-width: 768px) {
  .__imagen {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
}
